<div class="d-flex justify-content-center align-items-center vh-100 bg-light" style="background-image: url('assets/forgotpassword.png');background-size: contain;background-repeat: no-repeat;background-position: right;">

  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;margin-right: 200px;margin-bottom: 100px; ">
    <div class="text-center mb-3">
      <i class="bi bi-lock-fill fs-1 text-primary"></i>
      <h4 class="fw-bold" style="font-size: x-large;">Forgot Password</h4>
    </div>

    <form>
      <!-- Email Input -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          [(ngModel)]="email"
          #emailCtrl="ngModel"
          required
          email
          placeholder="Enter your email"
        />
        <span *ngIf="emailCtrl.invalid &&(emailCtrl.dirty || emailCtrl.touched) " style="color: red;">*Email is required</span>
      </div>
      
      <div *ngIf="!isOtp">
      <button 
        type="button"
        class="btn btn-primary w-100 mb-3"
        [disabled]="isOtp"
        (click)="generateOtp()"
      >
        {{timeLeft>0 ? 'Generate OTP':'Resend OTP'}}
      </button>
      </div>

      <!-- OTP Section -->
      <div *ngIf="isOtp">
        <div class="mb-3">
          <label for="otp" class="form-label">Enter OTP</label>
          <input
            type="text"
            id="otp"
            class="form-control"
            [(ngModel)]="otp"
            name="otp"
            required
            placeholder="Enter OTP"
          />
        </div>

        <button
          type="button"
          class="btn btn-success w-100"
          (click)="verifyOtp()"
          [disabled]="timeLeft===0"
        >
          Verify OTP
        </button>
        <div class="otp-timer">
    <p *ngIf="timeLeft > 0">OTP expires in: {{ minutes }}:{{ seconds | number: '2.0' }}</p>
    <p *ngIf="timeLeft === 0">OTP expired. Please request a new one.</p>

    <mat-progress-bar
    mode="determinate"
    [value]="(timeLeft / totalTime) * 100"
    color="warn">
   </mat-progress-bar>
  </div>
      </div>
    </form>
  </div>
</div>
