/* Dark mode styles */
.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .navbar {
  background: linear-gradient(to right, #343a40, #6c757d) !important;
}

.dark-mode .nav-link,
.dark-mode .navbar-brand {
  color: #f1f1f1 !important;
}

.dark-mode .btn-outline-light {
  border-color: #f1f1f1;
  color: #f1f1f1;
}



.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

